<div class="commonFormDiv">
<div style="max-width:355px;margin:auto;">
      <h1 style="text-align:center;font-size:50px;font-weight:700;color:rgb(255, 255, 255)">Sign Up</h1>
      <form method="">
          <input id="fname" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="First Name">
          <input id="lname" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="Last Name">
          <input id="email" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="Email">
          <input id="username" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="Username">
          <input id="password" type="password" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="Password">
          <button ng-click="loginController.login()" style="margin:auto" class="form-control">Sign Up</button>
      </form>
</div>
</div>
