<div class="commonFormDiv extended">
  <div id="searchContainer">
        <h1 style="text-align:center;font-size:50px;font-weight:700;color:rgb(255, 255, 255)">User Search</h1>
        <form method="">
            <input id="fname" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="First Name">
            <input id="lname" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="Last Name">
            <input id="username" style="margin:auto;margin-bottom:10px;" class="form-control" placeholder="Username">
            <button style="margin:auto" class="form-control">Search</button>
        </form>
  </div>
  </div>
